---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import "../styles/tailwind.css";
---
<MainLayout title="Titel">
  <!-- Topbillede og titel -->
  <div class="h-screen mb-12 text-center">
    <img src="/josefine.svg" alt="billede 1" class="m-4 w-100 mx-auto lg:w-200 lg:my-12" />
    <h2 class="text-text font-bold mb-4">MULTIMEDIEDESIGNER</h2>
    <img src="/cvpic1.png" alt="billede 1" class="w-48 mx-auto lg:hidden mb-6" />
  </div>

  <!-- Mobile-only billede -->
  <img src="/CV.svg" alt="" class="w-48 mx-auto mb-6 block md:hidden" />

  <!-- Grid-sektion -->
  <div class="lg:grid lg:grid-cols-3">
    <!-- Første kolonne -->
    <div class="">
      <!-- Creative Experience -->
      <div class="border-4 border-secondary w-full">
        <h3 class="text-white mb-2 p-4">Creative Experience</h3>
        <hr class="w-full my-2 border-t-4 border-secondary" />
        <div class="space-y-2 text-white p-4">
          <p class="font-bold">2019</p>
          <p>Udstilling på baren Under Træet med maleri</p>
          <p class="font-bold">2020</p>
          <p>Udstilling i Demokratigaragen med maleri og skulptur</p>
          <p class="font-bold">2021</p>
          <p>Udstilling i Galleri Udtryk med linoleumstryk</p>
          <p class="font-bold">2022</p>
          <p>Udstilling i Sydhavn kirke, med St:art og Boks, som kurator og med maleri og tegninger</p>
          <p class="font-bold">2023</p>
          <p>Udstilling i Blågårds Bibliotek under Kulturnatten med maleri og skulptur</p>
        </div>
      </div>

      <!-- Workskills -->
      <div class="border-4 border-secondary w-full">
        <h3 class="text-white mb-2 p-4">Workskills</h3>
        <hr class="w-full my-2 border-t-4 border-secondary" />
        <div class="space-y-4 text-white p-4">
          <!-- Figma -->
          <p>Figma</p>
          <div class="flex space-x-4">
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
          </div>
          <!-- HTML -->
          <p>HTML</p>
          <div class="flex space-x-4">
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
          </div>
          <!-- Tailwind -->
          <p>Tailwind</p>
          <div class="flex space-x-4">
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-primary"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-primary"></div>
          </div>
          <!-- CSS -->
          <p>CSS</p>
          <div class="flex space-x-4">
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-primary"></div>
          </div>
          <!-- Adobe -->
          <p>Adobe</p>
          <div class="flex space-x-4">
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-primary"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-primary"></div>
          </div>
          <!-- JavaScript -->
          <p>JavaScript</p>
          <div class="flex space-x-4">
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-primary"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-primary"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-primary mb-2"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Anden kolonne (billeder) -->
    <div class=" text-center">
      <img src="/CV.svg" alt="billede 1" class="w-80 mx-auto hidden md:block" />
      <img src="/cvpic1.png" alt="billede 1" class="w-80 mx-auto hidden md:block" />
      <img src="/cvpic2.png" alt="billede 1" class="w-80 mx-auto hidden md:block" />
      <img src="/cvpic3.png" alt="billede 1" class="w-80 mx-auto hidden md:block" />
    </div>

    <!-- Tredje kolonne -->
    <div class="">
      <!-- Interests -->
      <div class="border-4 border-secondary w-full ">
        <h3 class="text-white mb-2 p-4">Interests</h3>
        <hr class="w-full my-2 border-t-4 border-secondary" />
        <div class="grid grid-cols-3 gap-4 text-center p-4">
          <div>
            <img src="/art.svg" alt="" class="mx-auto" />
            <p class="text-white">Art</p>
          </div>
          <div>
            <img src="/ceramics.png" alt="" class="mx-auto" />
            <p class="text-white">Ceramics</p>
          </div>
          <div>
            <img src="/book.svg" alt="" class="mx-auto" />
            <p class="text-white">Reading</p>
          </div>
          <div>
            <img src="/camera.svg" alt="" class="mx-auto" />
            <p class="text-white">Photography</p>
          </div>
          <div>
            <img src="/fashion.svg" alt="" class="mx-auto" />
            <p class="text-white">Fashion</p>
          </div>
        </div>
      </div>

      <!-- Languages -->
      <div class="border-4 border-secondary w-full">
        <h3 class="text-white mb-2 p-4">Languages</h3>
        <hr class="w-full my-2 border-t-4 border-secondary" />
        <div class="space-y-4 text-white p-4">
          <p>Danish</p>
          <div class="flex space-x-4">
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
          </div>
          <p>English</p>
          <div class="flex space-x-4">
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
          </div>
          <p>French</p>
          <div class="flex space-x-4">
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-primary"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-primary"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-primary"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-primary"></div>
          </div>
        </div>
      </div>

      <!-- Education -->
      <div class="border-4 border-secondary w-full">
        <h3 class="text-white mb-2 p-4">Education</h3>
        <hr class="w-full my-2 border-t-4 border-secondary" />
        <div class="space-y-2 text-white p-4">
          <p class="font-bold">Det Frie Gymnasium</p>
          <p>2016-2019</p>
          <p>Kreativ STX med valgfag som musik og teater</p>
          <p class="font-bold">Art History</p>
          <p>2020-2021</p>
          <p>Havde 2 kreative semestre på dette studie på Københavns Universitet, hvor jeg lærte kritisk tænkning og analyse af kunstværker og historien bag</p>
          <p class="font-bold">Welding</p>
          <p>2022-2022</p>
          <p>Smede grundforløbet på TEC i Ballerup. Her lærte jeg at være tålmodig, da svejsninger tager tid.</p>
        </div>
      </div>
    </div>
  </div>
</MainLayout>
