---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import "../styles/tailwind.css";
---
<MainLayout title="Forside">
  <!-- Topbillede og titel -->
  <div class="h-screen mb-12 text-center">
    <img src="/josefine.svg" alt="billede 1" class="m-4 w-100 mx-auto lg:w-200 lg:my-12" />
    <h2 class="text-text font-bold mb-4">MULTIMEDIEDESIGNER</h2>
    <img src="/cvpic1.png" alt="billede 1" class="w-48 mx-auto lg:hidden mb-6" />
<img src="/arrow.png" class="w-10 mx-auto lg:w-20 animate-bounce mt-20" alt="">
  </div>

  <!-- Mobile-only billede -->
  <img src="/CV.svg" alt="" class="w-48 mx-auto mb-6 block md:hidden" />

  <!-- Grid-sektion -->
  <div class="lg:grid lg:grid-cols-3">
    <!-- Første kolonne -->
    <div class="">
      <!-- Creative Experience -->
      <div class="border-4 border-secondary w-full">
        <h3 class="text-white mb-2 p-4">Creative Experience</h3>
        <hr class="w-full my-2 border-t-4 border-secondary" />
        <div class="space-y-2 text-white p-4">
          <p class="font-bold">2019</p>
          <p>Udstilling på baren Under Træet med maleri</p>
          <p class="font-bold">2020</p>
          <p>Udstilling i Demokratigaragen med maleri og skulptur</p>
          <p class="font-bold">2021</p>
          <p>Udstilling i Galleri Udtryk med linoleumstryk</p>
          <p class="font-bold">2022</p>
          <p>Udstilling i Sydhavn kirke, med St:art og Boks, som kurator og med maleri og tegninger</p>
          <p class="font-bold">2023</p>
          <p>Udstilling i Blågårds Bibliotek under Kulturnatten med maleri og skulptur</p>
        </div>
      </div>

      <!-- Workskills -->
      <div class="border-4 border-secondary w-full">
        <h3 class="text-white mb-2 p-4">Workskills</h3>
        <hr class="w-full my-2 border-t-4 border-secondary" />
        <div class="space-y-4 text-white p-4">
          <!-- Figma -->
          <p>Figma</p>
          <div class="flex space-x-4">
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
          </div>
          <!-- HTML -->
          <p>HTML</p>
          <div class="flex space-x-4">
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
          </div>
          <!-- Tailwind -->
          <p>Tailwind</p>
          <div class="flex space-x-4">
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-primary"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-primary"></div>
          </div>
          <!-- CSS -->
          <p>CSS</p>
          <div class="flex space-x-4">
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-primary"></div>
          </div>
          <!-- Adobe -->
          <p>Adobe</p>
          <div class="flex space-x-4">
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-primary"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-primary"></div>
          </div>
          <!-- JavaScript -->
          <p>JavaScript</p>
          <div class="flex space-x-4">
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-primary"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-primary"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-primary mb-2"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Anden kolonne (billeder) -->
    <div class=" text-center">
      <img src="/CV.svg" alt="billede 1" class="w-80 mx-auto hidden lg:block" />
      <img src="/pic1.png" alt="billede 1" class="border-4 border-secondary w-80 mx-auto hidden lg:block" />
      <img src="/pic2.png" alt="billede 1" class="border-4 border-secondary w-80 mx-auto hidden lg:block" />
      <img src="/pic3.png" alt="billede 1" class="border-4 border-secondary w-80 mx-auto hidden lg:block" />
    </div>

    <!-- Tredje kolonne -->
    <div class="">
      <!-- Interests -->
      <div class="border-4 border-secondary w-full ">
        <h3 class="text-white mb-2 p-4">Interests</h3>
        <hr class="w-full my-2 border-t-4 border-secondary" />
        <div class="grid grid-cols-3 gap-4 text-center p-4">
          <div>
            <img src="/art.svg" alt="" class="mx-auto" />
            <p class="text-white">Art</p>
          </div>
          <div>
            <img src="/ceramics.png" alt="" class="mx-auto" />
            <p class="text-white">Ceramics</p>
          </div>
          <div>
            <img src="/book.svg" alt="" class="mx-auto" />
            <p class="text-white">Reading</p>
          </div>
          <div>
            <img src="/camera.svg" alt="" class="mx-auto" />
            <p class="text-white">Photography</p>
          </div>
          <div>
            <img src="/fashion.svg" alt="" class="mx-auto" />
            <p class="text-white">Fashion</p>
          </div>
        </div>
      </div>

      <!-- Languages -->
      <div class="border-4 border-secondary w-full">
        <h3 class="text-white mb-2 p-4">Languages</h3>
        <hr class="w-full my-2 border-t-4 border-secondary" />
        <div class="space-y-4 text-white p-4">
          <p>Danish</p>
          <div class="flex space-x-4">
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
          </div>
          <p>English</p>
          <div class="flex space-x-4">
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
          </div>
          <p>French</p>
          <div class="flex space-x-4">
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-accent"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-primary"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-primary"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-primary"></div>
            <div class="w-20 h-20 rounded-full border-4 border-secondary bg-primary"></div>
          </div>
        </div>
      </div>

      <!-- Education -->
      <div class="border-4 border-secondary w-full">
        <h3 class="text-white mb-2 p-4">Education</h3>
        <hr class="w-full my-2 border-t-4 border-secondary" />
        <div class="space-y-2 text-white p-4">
          <p class="font-bold">Det Frie Gymnasium</p>
          <p>2016-2019</p>
          <p>Kreativ STX med valgfag som musik og teater</p>
          <p class="font-bold">Art History</p>
          <p>2021-2022</p>
          <p>Havde 2 kreative semestre på dette studie på Københavns Universitet, hvor jeg lærte kritisk tænkning og analyse af kunstværker og historien bag</p>
          <p class="font-bold">Welding</p>
          <p>2022-2022</p>
          <p>Smede grundforløbet på TEC i Ballerup. Her lærte jeg at være tålmodig, da svejsninger tager tid.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-6 lg:grid lg:grid-cols-2">
<div>
	<img src="/about.svg" alt="">
<div class="border-4 border-secondary w-full">
	<h3 class="text-white mb-2 p-4">
		What I wanna learn
	</h3>
	<hr class="w-full my-2 border-t-4 border-secondary" />
	<div class="space-y-2 text-white p-4">
		<p>
			Jeg vil  meget gerne blive stærkere i at overføre fysisk kunst til grafisk kunst, og blive endnu stærkere i adobe pakken.
			Jeg vil også gerne dykke mere ned i SoMe produktion og lære at komprimere information til små opslag. Mine færdigheder ligger helt sikkert inde for det kreative og nytænkende, så det er også det jeg gerne vil fordybe mig i og blive bedre til. Til gengæld er jeg også glad for at kode, så det vil jeg også gerne blive endnu bedre til - især animationer som kan fortælle en historie, jo længere ned man scroller. Jeg går nemmlig meget op i at fortælle noget personligt i mine designs og hjemmesider.  
	</p>
</div>
</div>

</div>
<div class="border-4 border-secondary w-full">
	<h3 class="text-white mb-2 p-4">
		What I can offer
	</h3>
	<hr class="w-full my-2 border-t-4 border-secondary" />
	<div class="space-y-2 text-white p-4">
		<p>
Jeg har tidligere arbejdet meget med kunst som maleri, skulptur og tryk. Jeg har udstillet til forskelliige begivenheder og gået på Københavns Kunstskole ved søerne. Igennem mit arbejde med kunst 
er jeg blevet god til at tænke kreativt og anderledes, hvilket jeg tror er en stor fordel i mit arbejde som multimediedesigner. 

Jeg er god til at arbejde selvstændigt og har arbejdet som bartender i et år, hvor jeg især har lært at tage ansvar og arbejde under pres. Jeg er også god til at samarbejde og har igennem mit studie arbejdet meget i grupper, hvor jeg har lært at lytte til andres ideer og komme med mine egne.
  
Jeg vil kunne tage mig af illustrationer og design på en kreativ og udfordrende måde. Jeg er især stærk i abstrakt maleri og linoleumstryk samt keramik, som gør jeg har en livlig og konkret forståelse af farvekombinationer og udtryk. 
Især mit arbejde med tryk har givet mig redskaber til at udtrykke en følelse eller budskab på en gennemskuelig og grafisk måde.

Jeg er også stærk i indholdsproduktion og SoMe. Jeg elsker at lave forsider og plakater til opslag og finde på indhold. En af mine hobbyer er at tage spændende billeder, der fortæller en historie eller er visuelt æstetiske.
Nedenfor kan i se et galleri med et udpluk af nogle af de værker jeg har lavet gennem tiderne. 
	</p>
</div>
</div>
<div class="w-screen py-8 border-4 border-secondary mt-6">
	<!-- Galleri titel -->
	<img src="/galleri.svg" alt="Galleri" class="mx-auto mb-6">
  
	<!-- Billedgrid -->
	<div class="grid grid-cols-2 md:grid-cols-4 gap-4 w-full max-w-none px-2 ">
	  <img src="/gal1.png" alt="Billede 1" class="w-full h-auto">
	  <img src="/gal2.png" alt="Billede 2" class="w-full h-auto">
	  <img src="/gal3.png" alt="Billede 3" class="w-full h-auto">
	  <img src="/gal4.png" alt="Billede 4" class="w-full h-auto">
	  <img src="/gal5.png" alt="Billede 5" class="w-full h-auto">
	  <img src="/gal6.png" alt="Billede 6" class="w-full h-auto">
	  <img src="/gal7.png" alt="Billede 7" class="w-full h-auto">
	  <img src="/gal8.png" alt="Billede 8" class="w-full h-auto">
	  <img src="/gal9.png" alt="Billede 9" class="w-full h-auto">
	  <img src="/gal10.png" alt="Billede 10" class="w-full h-auto">
	  <img src="/gal11.png" alt="Billede 11" class="w-full h-auto">
	  <img src="/gal12.png" alt="Billede 12" class="w-full h-auto">
	</div>
  </div>
  </div>
  
  <div class="border-4 border-secondary w-full mt-6">
	<img src="/web.svg"  alt="">

	<div class="p-4">
<h3 class="text-white">Webløsning instantday:</h3>
<a class="text-white animate-pulse" href="https://instant-dayy.netlify.app/">https://instant-dayy.netlify.app/</a>

<h3 class="text-white">Webløsning Maksofilm</h3>
<a class="text-white animate-pulse" href="https://makso-film.netlify.app/">https://makso-film.netlify.app/</a>
<h3 class="text-white">Portfolio 1. semester</h3>
<a class="text-white animate-pulse" href="https://68d3ee52290388551910c649--portfolio1sem.netlify.app">https://68d3ee52290388551910c649--portfolio1sem.netlify.app</a>

	</div>
  </div>

  <div class="border-4 border-secondary w-full mt-6">
	<div class="m-4">
	<h2 class="text-white mb-6">Contact:</h2>
	<h3 class="text-white">Tlf:</h3>
<p class="text-white">+45 26 17 93 00</p>
<h3 class="text-white">Mail:</h3>
<p class="text-white">Josefinebankehoeg@gmail.com</p>
</div>
  </div>
  
  


</MainLayout>
