---
import MainLayout from "../layouts/MainLayout.astro";

import { Image } from "astro:assets";

import "../styles/tailwind.css";
---
<MainLayout title="Titel">
	<div>
		<img src="/josefine.svg" alt="billede 1" class="w-100 mx-auto lg:mx-0 m-6" />
		<h2 class="text-center text-text font-bold">MULTIMEDIEDESIGNER
		</h2>
		<img src="/cvpic1.png" alt="billede 1" class="w-80 mx-auto lg:mx-0 m-6" />
	</div>
	<div class="lg:grid lg:grid-cols-3 lg:grid-rows-4">
		<div den første del>
		<div class="border-4 border-secondary w-full">
		<div class="m-4">
			<h3 class="text-white">creative experience</h3>
		</div>
			<hr class="w-full my-3 border-t-4 border-secondary" />
			<div class="m-4">
			<p class="text-white">2019</p>
			<p class="text-white">Udstilling på baren Under Træet med maleri</p>
			<p class="text-white">2020</p>
			<p class="text-white">Udstilling i Demokratigaragen med maleri og skulptur</p>
			<p class="text-white">2021</p>
			<p class="text-white">Udstilling i Galleri Udtryk med linoleumstryk</p>
			<p class="text-white">2022</p>
			<p class="text-white">Udstilling i Sydhavn kirke, med St:art og Boks, som kurator og med maleri og tegninger</p>
			<p class="text-white">2023</p>
			<p class="text-white">Udstilling i Blågårds Bibliotek under Kulturnatten med maleri og skulptur</p>
</div>
		</div>
		<div class="border-4 border-secondary w-full">
			<div class="m-4">
				<h3 class="text-white">creative experience</h3>
			</div>
				<hr class="w-full my-3 border-t-4 border-secondary" />
				<div class="m-4">
				<p class="text-white">2019</p>
				<p class="text-white">Udstilling på baren Under Træet med maleri</p>
				<p class="text-white">2020</p>
				<p class="text-white">Udstilling i Demokratigaragen med maleri og skulptur</p>
				<p class="text-white">2021</p>
				<p class="text-white">Udstilling i Galleri Udtryk med linoleumstryk</p>
				<p class="text-white">2022</p>
				<p class="text-white">Udstilling i Sydhavn kirke, med St:art og Boks, som kurator og med maleri og tegninger</p>
				<p class="text-white">2023</p>
				<p class="text-white">Udstilling i Blågårds Bibliotek under Kulturnatten med maleri og skulptur</p>
	</div>
			</div>
		</div>
<div anden del>

		<div> 
			<img src="/cvpic1.png" alt="billede 1" class="w-80 mx-auto lg:mx-0 m-6" />
		</div>
	</div>
		<div>

		</div>
	</div>
	
</MainLayout>